 
  <div >
   
    <img src="/assets/Img/logo-localib.png" alt="logo Localib">
    
      </div>  
     
    
    
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Gestion des Vehicules</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="Trouver un locataire" placeholder="Recherche rapide  " aria-label="Search">
            <button class="btn btn-primary" type="submit">Recherche</button>
          </form>
        </div>
      </nav>
    
    
     <div>
        <br>
        <br>
    

<div class="card" style="width:50vmh">
    <img class="card-img-top" src="assets/Img/voiture1.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Charette RS6</h4>
      <p class="card-text">Marque : BMDoubleCheval</p>
      <p class="card-text">Annee : 1830</p>
      <p class="card-text">Immatriculation : Galop-Galop</p>
      <p class="card-text">Moteur : Foin et Carotte </p>
      <a href="" class="btn btn-primary">Modifier</a> ou
      <a href="" class="btn btn-primary">Supprimer</a>
    </div>
  </div>

  <br>

  <div class="card" style="width:50vh">
    <img class="card-img-top" src="assets/Img/voiture2.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Peugeot Turbo Moteur</h4>
      <p class="card-text">Marque : Peugeot </p>
      <p class="card-text">Annee : 1996 </p>
      <p class="card-text">Immatriculation : 1234-5678</p>
      <p class="card-text">Moteur : Essence </p>
      <a href="" class="btn btn-primary">Modifier</a> ou
      <a href="" class="btn btn-primary">Supprimer</a>    </div>
  </div>

  <br>

  <div class="card" style="width:50%">
    <img class="card-img-top" src="assets/Img/voiture3.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Peugeot la vie en bleu</h4>
      <p class="card-text">Marque :  Peugeot</p>
      <p class="card-text">Annee : 1990 </p>
      <p class="card-text">Immatriculation : 4587-7896</p>
      <p class="card-text">Moteur : Huile d'olive </p>
      <a href="" class="btn btn-primary">Modifier</a> ou
      <a href="" class="btn btn-primary">Supprimer</a>
    </div>
  </div>

  <br>


  <div class="card" style="width:50%">
    <img class="card-img-top" src="assets/Img/voiture4.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Renault Puissance Rouge</h4>
      <p class="card-text">Marque :Renault </p>
      <p class="card-text">Annee : 2019</p>
      <p class="card-text">Immatriculation :9876-5432</p>
      <p class="card-text">Moteur : Coca cola </p>
      <a href="" class="btn btn-primary">Modifier</a> ou
      <a href="" class="btn btn-primary">Supprimer</a>
    </div>
  </div>
  <br>

  <div class="card" style="width:50%">
    <img class="card-img-top" src="assets/Img/voiture5.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Batmobile</h4>
      <p class="card-text">Marque : BatVoiture </p>
      <p class="card-text">Annee : 2022 </p>
      <p class="card-text">Immatriculation : BatMobi78</p>
      <p class="card-text">Moteur : Pisse du joker </p>
      <a href="" class="btn btn-primary">Modifier</a> ou
      <a href="" class="btn btn-primary">Supprimer</a>
    </div>
  </div>

  <br>

  <div class="card "  style="width:50vmh">
    <img class="card-img-top" src="assets/Img/voiture6.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Voiture volante</h4>
      <p class="card-text">Marque : Voiture qui vole</p>
      <p class="card-text">Annee : 2014 </p>
      <p class="card-text">Immatriculation : 852-369</p>
      <p class="card-text">Moteur : iced Tea </p>
      <a href="" class="btn btn-primary">Modifier</a> ou
      <a href="" class="btn btn-primary">Supprimer</a>
    </div>
  </div>

  <br>

  <div class="card">
    <h5 class="card-header">Ajouter un vehicule</h5>
    <div class="card-body">
      
      
      <div ng-app="sample">
        <form class="form-horizontal" name="registerForm">
        <div class="form-group">
        <label class="col-md-3 control-label" for="Nom">Marque</label>
        <div class="col-md-4">
        <input type="text" placeholder="nom du client" #task/>
        </div>
        </div>
        <div class="form-group">
        <label class="col-md-3 control-label" for="Annee">Annee</label>
        <div class="col-md-4">
        <input id="Annee" type="prenom" class="form-control" name="Annee" ng-model="Prenom" />
        </div> 
        </div>
        <div class="form-group">
        <label class="col-md-3 control-label" for="Email">Immatriculation</label>
        <div class="col-md-4">
        <input id="Immatriculation" type="email" class="form-control" name="Immatriculation" ng-model="Email" />
        </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="Telephone">Moteur</label>
            <div class="col-md-4">
            <input id="Moteur" type="Moteur" class="form-control" name="Moteur" ng-model="Moteur" />
            </div>
            </div>




            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Manuel
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Automatique
                </label>
              </div>

<br>

        <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <br>
        <input (click)="addTasks(task.value)" class="btn btn-primary" value="Ajouter un vehicule" />


        
<ul *ngFor="let item of list">
  <li>{{item.name}} <button (click)="removeTasks(item.id)" >Supprimer</button>  </li>
  
</ul>
        </div>
        </div>
        </form>
     </div>


    </div>


 

  